@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --body: #0E0E11;
  --border: #27272A;
  --primary: #61FAE9;
  --secondary: #FFFFFF;
  --tertiary: #003334;
  --fourth: #18181B;
  --subtext: #AFAFAF;
  --red: #B92222;
  --red-body: #652222;
  --green: #22B93E;
  --green-body: #156323;
  --blue: #61FAE9;
  --blue-body: #003334;
  --yellow: #B49E23;
}

@layer base {
  html {
    font-family: 'Ubuntu', sans-serif;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}